@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&family=Nunito:ital,wght@0,300;1,200;1,300;1,400&family=Roboto+Mono:wght@200&display=swap');

* {
    font-family: 'Merriweather', serif;
font-family: 'Nunito', sans-serif;


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

}
body{
    background-color: black;
}
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    z-index: 10000;
    padding: 0 9%;
    background: black;

   }
   .logo{
       font-weight: bolder;
       color: white;
       font-size: 3rem;
   
   span{
       color: red;
   }
}

   .navbar a{
       display: inline-block;
       padding: 1.5rem 2rem;
       font-size: 1.7rem;
       color: white;
      
   }
   .aa:hover{
       background: red;
       border-radius: 200px;
   }
   
   #menu-btn{
     font-size: 3rem;
     color: white;
     cursor: pointer;
     display: none;
     
}
/* navbar end */
/* slider starts */
section{
    padding: 5rem 9%;
}
.home{
    padding: 0;
    margin-top: 6.5rem;
}
.slide{
    min-height: 70vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;


.content{
    width: 68rem;

span{
    font-size: 2rem;
    color: red;
    display: block;
}

h3{
    font-size: 5rem;
    color:white;
    padding: 1rem 0;
}
}
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, red 93%, transparent 90%);
    color: white;
    cursor: pointer;
    font-size: 1.7rem;

&:hover{
    transform:scale(1.1);
}
}
.swiper-pagination-bullet{
    height: 2rem;
    width: 2rem;
    background: white;
    border-radius: 0;
 }
 .swiper-pagination-bullet-active{
  background: red;
  
 }
  
/* slider ends */
/* about starts */
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;

.image{
    flex:1 1 42rem;
    position: relative
}
 .image::before,
 .image::after{
     content: '';
     position: absolute;
     z-index: -1;
     background: red;
     height: 15rem;
     width: 15rem;
 }
 .image::before{
     top: 0; left: 0;
 }
 
 .image::after{
     bottom: 0; right: 0;
 }

.image img{
    width: 100%;
    padding: 2rem;
}
.content{
    flex: 1 1 42rem;
}
.content span{
    font-size: 4rem;
    color:red;
    
    .content p{
        font-size: 1.5rem;
        color: bisque;
        padding: 1rem;
        line-height: 2;
    
    }
    .content span{
        font-size: 1.5rem;
        
    }
}
.title{
    font-size: 4rem;
    color: white;
    margin-top: .5rem;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;


}
.box{
    flex: 2 2 16rem;
}
.box h3{
    font-size: 2rem;
    color: white;
}
.box i{
    padding-right: 1.5rem;
    color: red;
}
.box p{
    font-size: 1.5rem;
    color: bisque;
    padding: 1rem;
    line-height: 2;
}

}
/* about ends */































/* media quries */
@media(max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 0 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
    .home .slide{
        padding: 2rem 5%;
    
    }
    .content{
        width: 50rem;
    }
    .content h3{
        font-size: 4rem;
    }
     }
     @media(max-width: 768px){
        #menu-btn{
            
            display: inline-block;
           
       }
    .fa-times{
         transform: rotate(180deg);       
    }
    
    
        .header{
           padding: 2rem;
        } 
           .navbar{
              position: absolute;
              top: 99%;left: 0;right: 0;
              background: black;
              display: flex;
              flex-direction: column;
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
           
        }
        .active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        .aa{
            
            display: block;
            font-size: 2rem;
        }
        .aa:hover{
            border-radius: 0px;
        }
        .about{
            gap: 3rem;
        }
        .image{
          margin-top: 5rem;
        }
        .contentab .titlt{
            font-size: 3rem;
        }
    
        .features .box-container .box.second{
            flex-flow: column;
        }
     }
    
     @media(max-width: 450px){
        html{
            font-size: 55%;
        }
         }